<!DOCTYPE html>
<html lang="ja">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>ボクシング動画</title>
   <!-- CSSファイルの読み込み -->
   <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
</head>
<body>

{% set ns = namespace(buf_date = start_day) %}
<div><span>SNSにアップするときは映っている人の許可を取ってください</span></div>

<form method="GET">
<select name="page" id="name">
    <option value="{{ all }}" selected>すべて表示</option>
  {% for name in name_list %}
    <option value="{{ name }}">{{ name }}</option>
    </option>
  {% endfor %}
</select>
<button type="submit">Submit</button>
</form>

<h3>{{ start_day }}</h3>
{% for target in list %}
{% if ns.buf_date != target["date"] %}
<h3>{{ target["date"] }}</h3>
{% set ns.buf_date = target["date"] %}
{% endif %}
<details class="accordion-002">
    <summary>{{ target["name"] }}</summary>
    <p>
      <span>{{ target["date"] }}</span><br />
      <span>{{ target["size"] }}</span><br />
      <span>{{ target["updated_at"] }}</span><br />
      <span><a href="{{ target["url"] }}" download="{{ target["url"] }}">download</a></span><br />
    </p>
</details>
{% endfor %}


<div><span><a href="{{ url_for('index', page='all') }}">すべて表示</a></spna></div>
<img src="{{ url_for('static', filename='images/QR.png') }}"/>

</body>
</html>
